/* Modal Styles */
.slds-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slds-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    min-width: 300px;
}