.activity-item {
    border:none;
    background-color: var(--lwc-colorBackgroundAlt, #ffffff);
}

.activity-item:hover {
    background-color: var(--lwc-colorBackgroundRowHover, #f3f3f3);
}

.activity-icon-circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #2e844a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-icon {
    --slds-c-icon-color-foreground-default: white;
    color: white;
    transform: scale(0.7);
}

.activity-icon svg {
    fill: white;
}
.accordion-content-activity{
    border-left: #2e844a 4px solid;
    border-radius: 8px;
    background-color: var(--lwc-colorBackground, #f3f3f3);
    box-sizing: content-box;
}

/* Modal Styles */
.slds-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9001;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slds-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9000;
    background-color: rgba(0, 0, 0, 0.6);
}

